$font-family-primary: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-family-primary-light: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
  'Lucida Grande', sans-serif;
$padding-primary: 30px;
$color-primary: #000000;
$color-hover: #999999;
